@layer base {
    :root {
        --vp-home-hero-name-color: var(--color-info) !important;
        // todo: many variables with division are not right, to be adjusted, also the whole css might need to be checked
        --vp-button-brand-bg: var(--color-primary) !important;
        --vp-button-brand-hover-bg: var(--color-info) !important;

        --vp-c-brand-1: var(--color-primary) !important;
        --vp-c-bg: var(--color-base-100) !important;
        --vp-c-bg-alt: var(--color-base-100) !important;
        --vp-c-bg-soft: var(--color-base-100) !important;

        --vp-c-text-1: var(--color-base-100)/0.9 !important;
        --vp-c-text-2: var(--color-base-100)/0.9 !important;

        --vp-sidebar-bg-color: var(--color-base-100)/0.1 !important;
        --vp-nav-bg-color: var(--color-base-100)/0.1 !important;

        --vp-c-divider: var(--color-base-content)/0.1 !important;
        --vp-c-gutter: var(--color-base-content)/0.1 !important;
    }

    .VPFeature {
        border-color: color-mix(in oklab, var(--vp-c-brand-1) 60%, transparent) !important;
    }

    .VPLink > p:hover {
        color: var(--color-primary) !important;
        border-color: var(--color-primary) !important;
    }

    .VPMenu {
        min-width: 268px !important;
    }

    .VPNav {
        pointer-events: auto !important;
    }

    .VPNavScreenAppearance {
        justify-content: space-evenly !important;
        padding: 12px 0 12px 0 !important;
    }

    a.VPFeature:hover {
        background-color: var(--vp-button-brand-hover-bg) !important;
    }

    a.flyonui:hover {
        color: var(--vp-button-brand-bg)!important;
    }

    .VPNavBarSearch {
        padding-left: 0 !important;
    }
}
